{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Search for' %} {{ request.GET.q }} |
    {{ SITE_NAME }}{% endblock title %}
{% block link_canonical %}{% url 'web:page-list' %}?
    {{ request.GET.urlencode }}{% endblock link_canonical %}
{% block content %}
    {% include 'web/components/page_list/search.html' %}
    {% if object_list %}
        {% include 'web/components/page_list/list.html' %}
    {% else %}
        {% include 'web/components/page_list/no_result.html' %}
    {% endif %}
    {{ block.super }}
{% endblock content %}
