{% extends 'web/base.html' %}
{% block title %}{{ request.GET.q }} | جست‌وجوی {{ site_name }}{% endblock title %}
{% block link_canonical %}{% url 'web:page-list' %}?{{ request.GET.urlencode }}{% endblock link_canonical %}
{% block content %}
    {% include 'web/components/page_list/search.html' %}
    {% if object_list %}
        {% include 'web/components/page_list/list.html' %}
    {% else %}
        {% include 'web/components/page_list/no_result.html' %}
    {% endif %}
    {{ block.super }}
{% endblock content %}
