[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
coverage = "*"

[packages]
django = "==2.2.11"
django-templated-mail = "*"
pillow = "*"
psycopg2-binary = "*"
gunicorn = "*"
sorl-thumbnail = "*"

[requires]
python_version = "3.7"
