{% extends 'web/base.html' %}
{% load static %}
{% block title %}خطای ۴۰۰ !!!{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div style="margin: 17% auto 0;">
        <div class="row justify-content-center">
            <div class="mb-5 text-center">
                <a href="/">
                    <img class=mb-3
                         src="{% static 'web/images/laumproject.logo.yellow.png' %}"
                         width=40 height=40
                         title="{{ SITE_NAME }}" alt="{{ SITE_NAME }}">
                </a>
                <p>خطای <b>۴۰۰</b></p>
                <p>
                    <small style="line-height: 30px; color: #6c757d87">درخواست
                        ارسال شده با خطا مواجه شد.</small>
                </p>
                <p class=text-left style="color:#353a40">
                    <small>{{ request.path }}</small>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}
