{% load static %}
<footer>
    <div class=container>
        <div class=row>
            <div class="col-sm-4 col-md-3 col-lg-2 mt-4">
                <a href="https://creativecommons.org">
                    <img width=150 height=36 src="{% static 'web/images/cc.logo.white.png' %}" alt="Creative Commons"
                         itemprop=logo></a>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10 mt-4">
                <div class="text-right license-text">
                    <p>لـام تحت مجوز <a href="https://creativecommons.org/licenses/by/4.0/" target=_blank> Creative
                        Commons
                        Attribution 4.0
                        International license</a> فعالیت می‌کند.<br>بازنشر با ذکر نام و لینک به منبع آزاد است.</p>
                </div>
                <div class=text-right>
                    <ul>
                        <li class=footer-link><a href="{% url 'web:page-detail' 'aWiPcE4LjeyrB' %}">درباره‌ی لام</a>
                        </li>
                        <li class=footer-link><a href="mailto:contact@laum.ir">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
