<div class="modal fade" id="newPageModal" tabindex="-1" role="dialog" aria-labelledby="newPageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="newPageForm" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="far fa-file-alt fa-sm"></i>
                        &nbsp;ایجاد صفحه‌ی جدید
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                {{ page_form.title.label_tag }}
                                {{ page_form.title }}
                                <div class="invalid-tooltip">این فیلد لازم است و باید بیش‌تر از ۳ حرف باشد</div>
                            </div>
                            <div class="form-group position-relative">
                                {{ page_form.subtitle.label_tag }}
                                {{ page_form.subtitle }}
                                <div class="invalid-tooltip">باید خالی یا بیش‌تر از ۳ حرف باشد</div>
                            </div>
                            <div class="form-group position-relative text-right">
                                {{ page_form.event.label_tag }}
                                {{ page_form.event }}
                                <small id="eventHelpLine" class="text-muted">
                                    {{ page_form.event.help_text }}
                                </small>
                                <div class="invalid-tooltip">باید خالی یا بیش‌تر از ۳ حرف باشد</div>
                            </div>
                            <div class="form-group">
                                <label for="id_image">آپلود تصویر:</label>
                                <div class="custom-file">
                                    <label class="custom-file-label text-truncate direction-left"
                                           for="id_image"></label>
                                    {{ page_form.image }}
                                </div>
                            </div>
                            <div class="form-group position-relative text-right">
                                {{ page_form.image_caption.label_tag }}
                                {{ page_form.image_caption }}
                                <small id="imageCaptionHelpLine" class="text-muted">
                                    {{ page_form.image_caption.help_text }}
                                </small>
                                <div class="invalid-tooltip">باید خالی یا بیش‌تر از ۳ حرف باشد</div>
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class="form-group position-relative">
                                {{ page_form.content.label_tag }}
                                {{ page_form.content }}
                                <div class="invalid-tooltip">این فیلد لازم است و باید بیش‌تر از ۱۰۰ حرف باشد</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group position-relative text-right">
                                {{ page_form.reference.label_tag }}
                                {{ page_form.reference }}
                                <small id="referenceHelpLine" class="text-muted">
                                    {{ page_form.reference.help_text }}
                                </small>
                                <div class="invalid-tooltip">باید خالی یا بیش‌تر از ۳ حرف باشد</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                {{ page_form.author.label_tag }}
                                {{ page_form.author }}
                                <div class="invalid-tooltip">ایمیل معتبر وارد کنید</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary" id="submitPage">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>
