{% load i18n web_extras %}
{% if is_paginated %}
    <nav class="display-flex justify-content-center p-3 mt-5 mb-4"
         aria-label="{% trans 'Pagination' %}">
        <ul class="pagination pr-0">
            {% if page_obj.has_previous %}
                <li class=page-item>
                    <a class=page-link
                       href="?{% url_replace page=page_obj.previous_page_number %}"
                       aria-label={% trans 'Previous' %}>
                        <span aria-hidden=true>&laquo;</span>
                        <span class=sr-only>{% trans 'Previous' %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class=page-link aria-label={% trans 'Previous' %} tabindex=-1>
                        <span aria-hidden=true>&laquo;</span>
                        <span class=sr-only>{% trans 'Previous' %}</span>
                    </a>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class=page-link tabindex=-1>
                            {{ i|to_persian }}
                            <span class=sr-only>(current)</span>
                        </a>
                    </li>
                {% else %}
                    <li class=page-item>
                        <a class=page-link
                           href="?{% url_replace page=i %}">{{ i|to_persian }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class=page-item>
                    <a class=page-link
                       href="?{% url_replace page=page_obj.next_page_number %}"
                       aria-label={% trans 'Next' %}>
                        <span aria-hidden=true>&raquo;</span>
                        <span class=sr-only>{% trans 'Next' %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class=page-link aria-label={% trans 'Next' %} tabindex="-1">
                        <span aria-hidden=true>&raquo;</span>
                        <span class=sr-only>{% trans 'Next' %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
