{% block subject %}
    گزارش خطا برای صفحه «{{ report.page.title }}»
{% endblock subject %}
{% block text_body %}
    دوست عزیز، این ایمیل به دلیل ثبت گزارش در صفحه «{{ report.page.title }}» ارسال شده است. تیم تولید محتوا در اسرع وقت
    به این گزارش رسیدگی خواهد کرد و پس از تایید، تغییرات قابل مشاهده خواهد شد.
{% endblock text_body %}
{% block html_body %}
    <style>
        @font-face {
            font-family: 'Shabnam';
            src: url('{{ static_url }}/web/fonts/shabnam/Shabnam.eot');
            src: url('{{ static_url }}/web/fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'), url('{{ static_url }}/web/fonts/shabnam/Shabnam.woff2') format('woff2'), url('{{ static_url }}/web/fonts/shabnam/Shabnam.woff') format('woff'), url('{{ static_url }}/web/fonts/shabnam/Shabnam.ttf') format('truetype')
        }
    </style>
    <body dir=rtl
          style="margin:0;padding:0;background-color:#FAFAFB;font-family:Shabnam,sans-serif;font-size:16px;color:#6C737A">
    <table border=0 cellpadding=0 cellspacing=0 style="margin:2em auto;width:600px">
        <tbody>
        <tr>
            <td style="padding:30px 50px 15px;background-color:#FFF">
                <a href="{{ base_url }}">
                    <img src="{{ static_url }}/web/images/laum.logo.yellow.png" width=36 height=36>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding:0 50px 25px;background-color:#FFF">
                <div style="color:#353A40">
                    <p>گزارش خطا برای صفحه «<a style="text-decoration:none;color:#07C"
                                               href="{{ base_url }}/{{ report.page.pid }}">{{ report.page.title }}</a>»
                    </p>
                </div>
                <div style="width:100%;background-color:#FAFAFB">
                    <div style="border-bottom:solid 1px #E4E6E8;padding:3em;line-height:2em;text-align:justify">
                        <p>دوست عزیز،<br>این ایمیل به دلیل ثبت گزارش در صفحه «<strong>{{ report.page.title }}</strong>»
                            ارسال
                            شده است.</p>
                        <p>تیم تولید محتوا در اسرع وقت به این گزارش رسیدگی خواهد کرد و پس از تایید، تغییرات قابل مشاهده
                            خواهد شد.</p>
                        <p>کد ارجاع: {{ report.refid|default:'-' }}</p>
                    </div>
                    <div style="color:#848d95;font-size:12px;font-style:italic;padding:1.5em;margin-bottom:1em">باتشکر از کمک شما در گسترش اطلاعات آزاد.</div>
                </div>
                <div>
                    <a style="margin:1em 0;color:#FFF;display:block;width:100%;text-align:center;padding:0.6em 0;background-color:#0095FF;border-radius:2px;text-decoration:none;border:1px solid #07C"
                       href="{{ base_url }}/{{ report.page.pid }}">رفتن به صفحه
                        «{{ report.page.title }}»</a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:25px 16px;font-size:11px;line-height:1.36;color:#9EA3A9">
                <img src="{{ static_url }}/web/images/laum.logo.yellow.png" width=24 height=24>
                <p><strong>{{ site_name }}</strong>، تهران، ایران</p>
                <p>دلیل دریافت این ایمیل ارسال گزارش به {{ site_name }} می‌باشد.</p>
                <p>از آدرس ایمیل شما برای تبلیغات توسط سایت ما استفاده نخواهد شد.</p>
                <p>
                    <a style="color:#999;text-decoration:underline" href="{{ base_url }}">قوانین ما</a>
                    &nbsp;•&nbsp;
                    <a style="color:#999;text-decoration:underline" href="mailto:{{ contact_email }}">تماس با ما</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
{% endblock html_body %}
