{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 mt-4">
                <a href="https://creativecommons.org">
                    <img width="150" src="{% static 'webapp/images/cc.logo_.white_.png' %}" alt="cc.logo.white"
                         itemprop="logo"></a>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10 mt-4">
                <div class="text-right license-text">
                    <p>لـام تحت مجوز <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"> Creative
                        Commons
                        Attribution 4.0
                        International license</a> فعالیت می‌کند، به جز
                        مواردی که صراحتا ذکر شده است.<br>بازنشر با ذکر نام و لینک به منبع آزاد است.</p>
                </div>
                <div class="text-right">
                    <ul>
                        <li class="footer-link"><a href="#">قوانین استفاده</a></li>
                        <li class="footer-link"><a href="#">حریم خصوصی</a></li>
                        <li class="footer-link"><a href="mailto:info@laum.ir">تماس ما با</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
