<section class="jumbotron jumbotron-inline text-center">
    <form class="form-inline my-2 my-lg-0" action="{% url 'webapp:list' %}" method="get" autocomplete="off">
        <div class="container position-relative pl-0 pr-0">
            <input class="form-control ml-sm-2 input-search inline-search input-shadow" type="search" placeholder=""
                   name="q" dir="auto" aria-label="جست‌وجو">
            <button class="btn btn-primary btn-search btn-search-inline my-2 my-sm-0" type="submit">
                <span class="position-relative fas-top">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </form>
</section>
