{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Mython</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Who, What, When"/>
    <meta name="author" content="Majid Rouhi Kh."/>
    <meta name="description" content="Know about everything, here."/>

    <!-- IOS Browser -->
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="App Title">

    <!-- Android Browser -->
    <meta name="theme-color" content="#189C67">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Google Chrome -->
    <meta name="google" content="notranslate">

    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/fontawesome/css/all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" media="screen">
</head>

<body>
{% block content %} {% endblock %}

<script type="text/javascript" src="{% static 'webapp/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
</body>

</html>
