{% load static %}
<!DOCTYPE html>
<html lang="fa-ir">

<head>
    <title>لام | این‌جا چراغـی روشن است!</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Who, What, When"/>
    <meta name="author" content="Majid Rouhi Kh."/>
    <meta name="description" content="Know about everything, here."/>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'webapp/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'webapp/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'webapp/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'webapp/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'webapp/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'webapp/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'webapp/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'webapp/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webapp/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'webapp/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webapp/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'webapp/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webapp/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'webapp/images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'webapp/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/pnotify/pnotify.custom.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/fontawesome/css/all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}">
</head>

<body>
{% include 'webapp/includes/header.html' %}
<main role="main">
    <div class="container">
        {% block content %} {% endblock %}
        {% include 'webapp/includes/new-page.html' %}
        {% include 'webapp/includes/report.html' %}
    </div>
</main>
{% include 'webapp/includes/footer.html' %}

<script type="text/javascript" src="{% static 'webapp/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/pnotify/pnotify.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/jscookie/js.cookie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
</body>

</html>
