{% load static %}
<!DOCTYPE html>
<html lang="ir-fa">

<head>
    <title>مایتون</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Who, What, When"/>
    <meta name="author" content="Majid Rouhi Kh."/>
    <meta name="description" content="Know about everything, here."/>

    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/fontawesome/css/all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}">
</head>

<body>
{% include "webapp/includes/header.html" %}
<main role="main">
    <div class="container">
        {% block content %} {% endblock %}
        {% include 'webapp/includes/new-page.html' %}
        {% include 'webapp/includes/report-problem.html' %}
    </div>
</main>
{% include "webapp/includes/footer.html" %}

<script type="text/javascript" src="{% static 'webapp/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
</body>

</html>
