{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/includes/search_inline.html" %}
    {% if data_list %}
        <div class="row justify-content-center">
            {% for d in data_list %}
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <a href="/{{ d.id }}/">
                        <div class="card mb-4 box-shadow">
                            <div class="position-relative">
                                <img class="card-img-top"
                                     alt="{{ d.image.filename }}"
                                     style="width: 100%; display: block;"
                                     src="/{{ d.image }}"
                                     data-holder-rendered="true">
                                <div class="content-title">{{ d.title }}</div>
                            </div>
                            <div class="card-body text-justify">
                                <p class="card-text content-body">
                                    {{ d.content|truncatechars:40 }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ d.tags }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <nav class="display-flex justify-content-center p-2" aria-label="پیمایش صفحه‌ها">
            <ul class="pagination pr-0">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="قبلی" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">قبلی</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">
                        ۱
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">۲</a></li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="بعدی" tabindex="-1">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">بعدی</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
