{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/includes/search_inline.html" %}
    <div class="row justify-content-center">
        {% if data %}
            <div class="col-lg-7 col-md-10 col-sm-12 text-right">
                <div class="page-header">
                    <div class="page-title-section">
                        <div class="header-vertical-divider"></div>
                        <h3 class="page-title">{{ data.title }}</h3>
                        <h5 class="page-subtitle">{{ data.subtitle }}</h5>
                    </div>
                    <div class="page-date">
                        <p>{{ data.ann_date }}</p>
                    </div>
                </div>
                <div class="mobile-mode">
                    <div class="page-image-frame position-relative">
                        <img class="page-image" alt="{{ data.image.filename }}" src="/{{ data.image }}">
                    </div>
                    <div class="page-image-caption">
                        &nbsp;{{ data.image_caption }}
                    </div>
                    <div class="harder-horizontal-divider"></div>
                </div>
                <div class="page-content">
                    <p>{{ data.content }}</p>
                    <span class="page-tag">
                        <small>{{ data.tags }}</small>
                    </span>
                </div>
                <div class="page-footer">
                    <a class="page-report-link" href="#" data-toggle="modal" data-target="#reportProblem">
                        <i class="fas fa-edit"></i>
                        &nbsp;گزارش خطا
                    </a>
                    <span class="font-italic">
                        <small>(آخرین به‌روزرسانی {{ data.updated_on|date:"M d, Y" }})</small>
                    </span>
                </div>
            </div>
            <div class="col-lg-5 desktop-mode">
                <div class="page-image-frame">
                    <img class="page-image" alt="{{ data.image.filename }}" src="/{{ data.image }}">
                </div>
                <div class="page-image-caption">
                    &nbsp;{{ data.image_caption }}
                    <div class="harder-horizontal-divider"></div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
