{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/header.html" %}
    <main role="main">
        {% include "webapp/search_inline.html" %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    {% if data_list %}
                        {% for d in data_list %}
                            <div class="col-md-3">
                                <a href="/{{ d.id }}/">
                                    <div class="card mb-4 box-shadow">
                                        <dive class="position-relative">
                                            <img class="card-img-top"
                                                 data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                                 alt="{{ d.image.filename }}"
                                                 style="height: 225px; width: 100%; display: block;"
                                                 src="{{ d.image }}"
                                                 data-holder-rendered="true">
                                            <div class="title-block">{{ d.title }}</div>
                                        </dive>
                                        <div class="card-body text-justify">
                                            <p class="card-text text-truncate content-block">{{ d.content }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-muted">{{ d.tags }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% include "webapp/footer.html" %}
{% endblock %}
