{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/includes/search_inline.html" %}
    {% if data_list %}
        <div class="row justify-content-center">
            {% for data in data_list %}
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <a href="/{{ data.id }}/">
                        <div class="card mb-4 box-shadow">
                            <div class="position-relative">
                                <img class="card-img-top"
                                     alt="{{ data.image.filename }}"
                                     style="width: 100%; display: block;"
                                     src="/{{ data.image }}"
                                     data-holder-rendered="true">
                                <div class="content-title">{{ data.title }}</div>
                            </div>
                            <div class="card-body text-justify">
                                <p class="card-text content-body">
                                    {{ data.content|truncatechars:40 }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ data.tags }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include "webapp/includes/pagination.html" %}
    {% endif %}
{% endblock %}
