{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/header.html" %}
    <main role="main">
        {% include "webapp/search.html" %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <a href="#">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                     alt="Thumbnail [100%x225]" style="width: 100%; display: block;"
                                     src="{% static 'webapp/images/martin.jpg' %}"
                                     data-holder-rendered="true">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                     alt="Thumbnail [100%x225]"
                                     src="{% static 'webapp/images/madonna.jpg' %}"
                                     data-holder-rendered="true" style="width: 100%; display: block;">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                     alt="Thumbnail [100%x225]"
                                     src="{% static 'webapp/images/bob.jpg' %}"
                                     data-holder-rendered="true" style="width: 100%; display: block;">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "webapp/footer.html" %}
{% endblock %}
