{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    {% include "webapp/includes/search.html" %}
    <div class="random-page">
        {% if random_data %}
            <div class="row justify-content-center">
                {% for data in random_data %}
                    <div class="col-md-3">
                        <a href="/{{ data.id }}/">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     alt="{{ data.title }}" style="width: 100%; display: block;"
                                     src="/{{ data.image }}"
                                     data-holder-rendered="true">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
