<section class="jumbotron jumbotron-inline text-center">
    <div class="container">
        <form class="form-inline my-2 my-lg-0" action="{% url 'webapp:list' %}" method="get"
              autocomplete="off">
            <input class="form-control ml-sm-2 input-search inline-search input-shadow" type="search" placeholder=""
                   name="q" dir="auto" aria-label="جست‌وجو">
            <button class="btn btn-outline-primary btn-search my-2 my-sm-0" type="submit">جست‌وجو</button>
    </div>
    </form>
    </div>
</section>
