/* Fonts */
@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/shabnam/Shabnam.eot');
    src: url('../fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam.woff2') format('woff2'), url('../fonts/shabnam/Shabnam.woff') format('woff'), url('../fonts/shabnam/Shabnam.ttf') format('truetype')
}

@font-face {
    font-family: 'Shabnam-Light';
    src: url('../fonts/shabnam/Shabnam-Light.eot');
    src: url('../fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam-Light.woff2') format('woff2'), url('../fonts/shabnam/Shabnam-Light.woff') format('woff'), url('../fonts/shabnam/Shabnam-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Shabnam-Bold';
    src: url('../fonts/shabnam/Shabnam-Bold.eot');
    src: url('../fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam-Bold.woff2') format('woff2'), url('../fonts/shabnam/Shabnam-Bold.woff') format('woff'), url('../fonts/shabnam/Shabnam-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Lalehzar';
    src: url('../fonts/lalehzar/Lalehzar-Regular.ttf');
url('../fonts/lalehzar/Lalehzar-Regular.ttf') format('truetype')
}

/* Restyle Tags */
html, body {
    height: 100%;
}

body {
    font-family: Shabnam, sans-serif;
    color: #353a40;
    direction: rtl;
    display: table;
    width: 100%;
    background: linear-gradient(90deg, #f2f2f2 20px, transparent 1%) center, linear-gradient(#f2f2f2 20px, transparent 1%) center, #ccc;
    background-size: 22px 22px;
}

a,
a:focus,
a:hover {
    color: #fff;
    outline: none;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

label {
    float: right;
}

/* Custom Class */
.fas-reglage {
    top: 2px;
}

.display-flex {
    display: flex;
}

.header-vertical-divider {
    border-right: 10px solid #ddc735;
    height: 23px;
    position: relative;
    display: inline-block;
    top: 4px;
}

.harder-horizontal-divider {
    margin: 10px auto;
    border-top: 6px solid #ddc735;
    width: 100px;
}

.direction-left {
    direction: ltr;
}

.custom-file-label {
    padding-right: 94px;
}

/* Jumbotron */
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    margin-bottom: 0;
    background-color: transparent;
}

.jumbotron h1 {
    font-family: Lalehzar, sans-serif;
}

.jumbotron-heading {
    text-shadow: 0 3px 4px rgba(0, 0, 0, .16);
}

.jumbotron .container {
    max-width: 40rem;
}

/* Header */
.slogan-text {
    font-size: 70%;
    margin-top: 9px;
}

/* Footer */
footer {
    display: table-row;
    height: 1px;
    color: #999;
    background-color: #353a40;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}

footer div {
    margin-bottom: .5rem;
    text-align: center;
    font-size: .7rem;
}

footer ul {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}

footer ul a {
    color: #999;
}

footer .license-text a {
    text-decoration: underline;
}

.footer-link {
    list-style: none;
    border-left: 1px solid #606060;
    display: inline;
    padding-left: 10px;
    padding-right: 5px;
}

footer li:last-child {
    border: none;
}

footer li:first-child {
    padding-right: 0;
}

/* Shadow */
.box-shadow {
    cursor: pointer;
    position: relative;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box-shadow:hover::before {
    opacity: 1;
}

/* Image frame */
.thumbnail {
    position: relative;
    height: 200px;
    overflow: hidden;
    background-color: #f0f0f1;
    display: flex;
    align-items: center;
    justify-content: center
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail i, .page-thumbnail i {
    color: #ccc !important;
}

.image-frame {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Navbar */
.navbar {
    font-family: Lalehzar, sans-serif;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Search Input */
.form-inline .form-control {
    width: 100% !important;
}

.form-control {
    color: #353a40;
}

.form-control:focus {
    color: #353a40;
}

.input-search {
    height: 60px;
    border: 0 solid transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search:focus {
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search-inline {
    padding-left: 73px;
}

/* Search Button */
.btn-search {
    height: 50px;
    width: 120px;
    border-radius: .25rem;
    background-color: #353a40;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search:hover {
    background-color: #ddc735;
    border-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search:not(:disabled):not(.disabled):active {
    background-color: #ddc735;
    border-color: transparent;
}

.btn-search.focus, .btn-search:focus {
    box-shadow: none;
}

.btn-search:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-search-inline {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 0;
    border-radius: .21rem 0 0 .21rem;
}

/* Result Page */
.content-title {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #353a40;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.content-body {
    color: #353a40;
}

.content-tag {
    display: block !important;
    text-align: initial;
}

.card {
    border: none;
}

.result-count {
    padding: 1rem 1.25rem;
    text-align: right;
    color: #728299;
    font-style: italic;
}

.no-result-message {
    min-height: 10rem;
}

/* Content Page */
.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-header {
    padding: 15px;
}

.page-title-section {
    margin-bottom: 1rem;
}

.page-title {
    display: inline;
}

.page-subtitle {
    display: inline;
    padding-right: 7px;
    position: absolute;
    padding-top: 16px;
    color: #728299;
    font-size: 14px;
}

.page-date {
    padding-right: 24px;
    font-size: 15px;
}

.page-content {
    line-height: 28px;
    text-align: justify;
    padding: 15px;
}

.page-tag {
    background-color: #353a40;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.page-footer {
    line-height: 28px;
    padding: 15px;
    color: #728299;
}

.page-report-link {
    color: #353a40 !important;
    font-size: 12px;
    cursor: pointer;
}

.page-report-link:hover, .page-report-link:focus {
    color: #353a40;
    text-decoration: none;
}

.page-thumbnail {
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: #f0f0f1;
    display: flex;
    align-items: center;
    justify-content: center
}

.page-image {
    width: 100%;
    height: auto;
}

.page-image-caption {
    margin: 15px;
    text-align: center;
}

.mobile-mode {
    display: none;
}

.desktop-mode {
    display: block;
}

/* Modal */
.modal-footer > :not(:first-child) {
    margin-right: .25rem;
}

.modal-footer > :not(:last-child) {
    margin-left: .25rem;
}

/* Pagination */
.pagination {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    display: inline-flex;
}

.page-item:first-child .page-link {
    margin-left: -1px;
    border-radius: 0 .25rem .25rem 0;
}

.page-item:last-child .page-link {
    border-radius: .25rem 0 0 .25rem;
}

.page-item.active .page-link {
    background-color: #353a40;
    border-color: #353a40;
}

.page-link {
    color: #353a40;
    background-color: #fff;
    border: none;
}

.page-link:focus {
    color: #353a40;
    box-shadow: none;
}

.page-link:hover {
    color: #fff;
    background-color: #ddc735;
    border-color: #ddc735;
}

/* Tooltip */
.invalid-tooltip {
    left: 0;
}

/* Alerts */
.ui-pnotify.custom .ui-pnotify-text {
    text-align: center;
    display: block;
}

.ui-pnotify.custom .ui-pnotify-container {
    background-image: none !important;
    border: none !important;
    border-radius: .25rem !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
    font-size: 0.85rem !important;
    text-rendering: geometricPrecision !important;
}

.brighttheme-notice {
    background-color: #ffffa2;
    color: #4f4f00
}

.brighttheme-info {
    background-color: #8fcedd;
    color: #012831
}

.brighttheme-success {
    background-color: #4CAF50;
    color: #fff;
}

.brighttheme-error {
    background-color: #F44336;
    color: #fff;
}

/* Responsivity */
@media all and (max-width: 1024px) {
    .jumbotron .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .random-page {
        padding-top: 0;
    }

    .btn-search-inline {
        left: 0;
    }

    .result-count {
        padding: 1rem .75rem;
    }

    .content {
        padding-top: 2rem;
    }

    .content-image-frame {
        margin: 0;
    }

    .mobile-mode {
        display: block;
        margin-bottom: 15px;
    }

    .desktop-mode {
        display: none;
    }
}

@media all and (max-width: 411px) {
    .jumbotron-heading {
        font-size: 1.8rem;
    }

    .slogan-text {
        display: none;
    }
}
