{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}
    {% include 'web_app/includes/search_inline.html' %}
    {% if data_list %}
        <div class="row justify-content-center">
            {% for data in data_list %}
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <a href="/{{ data.pid }}/">
                        <div class="card mb-4 box-shadow">
                            <div class="position-relative thumbnail">
                                {% if data.image == '' %}
                                    <i class="far fa-image fa-3x"></i>
                                {% else %}
                                    <img class="card-img-top portrait" alt="{{ data.image.filename }}" src="
                                    /{{ data.image }}">
                                {% endif %}
                                <div class="content-title">{{ data.title }}</div>
                            </div>
                            <div class="card-body text-justify">
                                <p class="card-text content-body">
                                    {{ data.content|truncatechars:40 }}</p>
                                <div class="d-flex">
                                    {% for tag in data.tag.values %}
                                        <small class="text-muted ml-2">#{{ tag.name }}</small>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include 'web_app/includes/pagination.html' %}
    {% else %}
        <div class="row no-result-message align-items-center">
            <div class="col text-center mb-4">
                ): اوه متاسفم! هیچ نتیجه‌ای پیدا نشد.
            </div>
        </div>
        <div class="row no-result-message justify-content-center">
            <div class="col-lg-7 col-md-10 col-sm-12 mb-5 text-center">
                <small style="line-height: 30px; color: #6c757d87">
                    شاید کلیدواژه‌ی نادرستی را جست‌وجو کرده‌اید؛ برای رسیدن به نتیجه‌ی مطلوب کلیدواژه‌های
                    عمومی‌تر را امتحان کنید یا اگر فکر می‌کنید صفحه‌ی مورد نظر شما در فهرست ما وجود ندارد، شما آن چراغ را
                    <a style="cursor: pointer;color: #353a40" data-toggle="modal" data-target="#newPageModal">روشن
                        کنید</a>.
                    <br>
                    از این‌که با کامل‌تر کردن این فهرست به ما کمک می‌کنید از شما ممنونیم.
                </small>
            </div>
        </div>
    {% endif %}
{% endblock %}
