/* Fonts */
@font-face {
    font-family: 'Vazir-Light';
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Light.woff2') format('woff2'), url('../fonts/vazir/Vazir-Light.woff') format('woff'), url('../fonts/vazir/Vazir-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Thin';
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'), url('../fonts/vazir/Vazir-Thin.woff') format('woff'), url('../fonts/vazir/Vazir-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'), url('../fonts/vazir/Vazir-Medium.woff') format('woff'), url('../fonts/vazir/Vazir-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'), url('../fonts/vazir/Vazir-Bold.woff') format('woff'), url('../fonts/vazir/Vazir-Bold.ttf') format('truetype')
}

/* Restyle Tags */
html, body {
    height: 100%;
}

body {
    font-family: Vazir-Medium, sans-serif;
    /*background-color: #f8f9fa;*/
    direction: rtl;
    display: table;
    width: 100%;

    background: linear-gradient(90deg, #f2f2f2 20px, transparent 1%) center, linear-gradient(#f2f2f2 20px, transparent 1%) center, #ccc;
    background-size: 22px 22px;
}

/* Links */
a,
a:focus,
a:hover {
    /*color: #002f54;*/
    color: #f6f7f8;
}

input, textarea, select {
    outline: none;
}

/* Jumbotron */
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: transparent;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
    }

    .jumbotron-inline {
        padding-top: var(--jumbotron-padding-y);
        padding-bottom: var(--jumbotron-padding-y);
    }
}

@media (max-width: 767px) {
    .jumbotron-inline {
        padding-top: 2rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

@media (max-width: 736px) {
    .jumbotron-heading {
        font-size: 2.3rem;
    }
}

.jumbotron .container {
    max-width: 40rem;
}

/* Footer */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.footer {
    display: table-row;
    height: 1px;
}

.footer > div {
    padding: 10px;
    text-align: center;
}

/* Custom */
.box-shadow {
    cursor: pointer;
    position: relative;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box-shadow:hover::before {
    opacity: 1;
}

/* Navbar */
.navbar-shadow {
    position: relative;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Search Input */
.input-search {
    height: 60px;
    border-color: transparent;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.inline-search.input-search {
    width: 80%;
    padding-left: 65px;
}

.input-search:focus {
    color: #002f54;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

/* Search Button */
.btn-search {
    height: 49px;
    width: 110px;
    color: #fff;
    border-radius: 2px;
    background-color: #002f54;
    border-color: #002f54;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search:hover {
    color: #fff;
    background-color: #ddc735;
    border-color: #ddc735;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search.focus, .btn-search:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 199, 53, 0.5);
}

.btn-search:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #ddc735;
    border-color: #ddc735;
}

.btn-search:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 199, 53, 0.5);
}

.btn-search-inline {
    position: absolute;
    width: 60px;
    height: 58px;
    left: 69px;
    top: 1px;
    border-radius: 2px 0 0 2px;
}

@media (max-width: 500px) {
    .inline-search.input-search {
        width: 100%;
        padding-left: 72px;
    }

    .btn-search-inline {
        left: 0;
        top: -7px;
    }
}

/* Index Page */
.random-pages {
    padding-top: 3rem;
}

@media (max-width: 500px) {
    .random-pages {
        padding-top: 0;
    }
}
/* Result Page */
.title-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #002f54;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.content-block {
    color: #002f54;
}

/* New Page */
.fas-top {
    top: 2px;
}

/* Content Page */
.page-header {
    padding: 15px;
    color: #002f54;
    margin-bottom: 3rem;
}

.page-main-title {
    margin-bottom: 1rem;
}

.header-divider {
    border-right: 10px solid #ddc735;
    height: 23px;
    position: relative;
    display: inline-block;
    margin: 0 4px;
    top: 4px;
}

.page-title {
    display: inline;
}

.page-subtitle {
    display: inline;
    padding-right: 7px;
    position: absolute;
    padding-top: 14px;
    color: #728299;
    font-size: 15px;
}

.page-date {
    padding-right: 24px;
    font-size: 15px;
}

.page-content {
    line-height: 28px;
    text-align: justify;
    color: #002f54;
    margin-bottom: 4rem;
    padding: 15px;
}

.meta-tag {
    background-color: #002f54;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    font-size: 15px;
}

.page-footer {
    line-height: 28px;
    text-align: justify;
    color: #002f54;
    margin-bottom: 4rem;
    padding: 15px;
}

.meta-data {
    color: #728299;
}

.content-image-frame {
    margin: 15px;
    border: 2px solid #eee;
}

.content-image {
    width: 100%;
    height: 350px;
    border: 10px solid #fff;

}

.content-image-caption {
    margin: 15px;
    text-align: center;
    color: #002f54;
}
