/* Fonts */
@font-face {
    font-family: 'Vazir-Light';
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Light.woff2') format('woff2'), url('../fonts/vazir/Vazir-Light.woff') format('woff'), url('../fonts/vazir/Vazir-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Thin';
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'), url('../fonts/vazir/Vazir-Thin.woff') format('woff'), url('../fonts/vazir/Vazir-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'), url('../fonts/vazir/Vazir-Medium.woff') format('woff'), url('../fonts/vazir/Vazir-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'), url('../fonts/vazir/Vazir-Bold.woff') format('woff'), url('../fonts/vazir/Vazir-Bold.ttf') format('truetype')
}

/* Restyle Tags */
html, body {
    height: 100%;
}

body {
    font-family: Vazir-Medium, sans-serif;
    color: #002f54;
    direction: rtl;
    display: table;
    width: 100%;
    background: linear-gradient(90deg, #f2f2f2 20px, transparent 1%) center, linear-gradient(#f2f2f2 20px, transparent 1%) center, #ccc;
    background-size: 22px 22px;
}

a,
a:focus,
a:hover {
    color: #fff;
    outline: none;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

label {
    float: right;
}

/* Custom Class */
.fas-reglage {
    top: 2px;
}

.display-flex {
    display: flex;
}

.header-vertical-divider {
    border-right: 10px solid #ddc735;
    height: 23px;
    position: relative;
    display: inline-block;
    margin: 0 4px;
    top: 4px;
}

.harder-horizontal-divider {
    margin: 10px auto;
    border-top: 6px solid #ddc735;
    width: 100px;
}

/* Jumbotron */
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    margin-bottom: 0;
    background-color: transparent;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    text-shadow: 0 3px 4px rgba(0, 0, 0, .16);
}

.jumbotron .container {
    max-width: 40rem;
}

/* Footer */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: table-row;
    height: 1px;
}

footer div {
    margin-bottom: .5rem;
    text-align: center;
}

/* Shadow */
.box-shadow {
    cursor: pointer;
    position: relative;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box-shadow:hover::before {
    opacity: 1;
}

/* Navbar */
.navbar {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Search Input */
.form-inline .form-control {
    width: 100% !important;
}

.form-control {
    color: #002f54;
}

.form-control:focus {
    color: #002f54;
}

.input-search {
    height: 60px;
    border: 0 solid transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search:focus {
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.input-search-inline {
    padding-left: 73px;
}

/* Search Button */
.btn-search {
    height: 50px;
    width: 120px;
    border-radius: .25rem;
    background-color: #002f54;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search:hover {
    background-color: #ddc735;
    border-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.btn-search:not(:disabled):not(.disabled):active {
    background-color: #ddc735;
    border-color: transparent;
}

.btn-search.focus, .btn-search:focus {
    box-shadow: none;
}

.btn-search:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-search-inline {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 0;
    border-radius: .21rem 0 0 .21rem;
}

/* Result Page */
.content-title {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #002f54;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.content-body {
    color: #002f54;
}

.card {
    border: none;
}

.result-count {
    padding: 1rem 1.25rem;
    text-align: right;
    color: #728299;
    font-style: italic;
}

/* Content Page */
.page-header {
    padding: 15px;
}

.page-title-section {
    margin-bottom: 1rem;
}

.page-title {
    display: inline;
}

.page-subtitle {
    display: inline;
    padding-right: 7px;
    position: absolute;
    padding-top: 14px;
    color: #728299;
    font-size: 15px;
}

.page-date {
    padding-right: 24px;
    font-size: 15px;
}

.page-content {
    line-height: 28px;
    text-align: justify;
    padding: 15px;
}

.page-tag {
    background-color: #002f54;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.page-footer {
    line-height: 28px;
    padding: 15px;
    color: #728299;
}

.page-report-link {
    color: #002f54;
    font-size: 12px;
}

.page-report-link:hover, .page-report-link:focus {
    color: #002f54;
    text-decoration: none;
}

.page-image-frame {
    border: 2px solid #eee;
}

.page-image {
    width: 100%;
    height: auto;
    border: 10px solid #fff;
}

.page-image-caption {
    margin: 15px;
    text-align: center;
}

.mobile-mode {
    display: none;
}

.desktop-mode {
    display: block;
}

/* Modal */
.modal-footer > :not(:first-child) {
    margin-right: .25rem;
}

.modal-footer > :not(:last-child) {
    margin-left: .25rem;
}

/* Pagination */
.pagination {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    display: inline-flex;
}

.page-item:first-child .page-link {
    margin-left: -1px;
    border-radius: 0 .25rem .25rem 0;
}

.page-item:last-child .page-link {
    border-radius: .25rem 0 0 .25rem;
}

.page-item.active .page-link {
    background-color: #002f54;
    border-color: #002f54;
}

.page-link {
    color: #002f54;
    background-color: #fff;
    border: none;
}

.page-link:focus {
    color: #002f54;
    box-shadow: none;
}

.page-link:hover {
    color: #fff;
    background-color: #ddc735;
    border-color: #ddc735;
}

/* Responsivity */
@media all and (max-width: 1024px) {
    .jumbotron {
        padding: var(--jumbotron-padding-y) 0 1rem 0;
    }

    .jumbotron .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .random-page {
        padding-top: 0;
    }

    .btn-search-inline {
        left: 0;
    }

    .result-count {
        padding: 1rem .75rem;
    }

    .content-image-frame {
        margin: 0;
    }

    .mobile-mode {
        display: block;
        margin-bottom: 15px;
    }

    .desktop-mode {
        display: none;
    }
}

@media all and (max-width: 375px) {
    .jumbotron-heading {
        font-size: 2rem;
    }
}
