{% load static %}
<header>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="ml-2" width="30px" src="{% static 'web_app/images/laum.logo.yellow.png' %}" alt="laum.logo.yellow"
                     itemprop="logo">
                <strong>لـام</strong>
                &nbsp;
                <div class="slogan-text">
                    <small style="color: #cccccc;">تاریکی‌های خود را،</small>
                    <small>این‌جا روشن کنید!</small>
                </div>
            </a>
            <a class="nav-link text-right" style="cursor: pointer;color: #fff" data-toggle="modal"
               data-target="#newPageModal">
                <span class="position-relative fas-reglage">
                    <i class="fas fa-plus fa-sm"></i>
                </span>
                &nbsp;صفحه‌ی جدید
            </a>
        </div>
    </div>
</header>
