{% load widget_tweaks %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading mb-5">این‌جا چراغـی روشن است!</h1>
        <form id="searchForm" class="my-2 my-lg-0" action="{% url 'web_app:list' %}" method="get" autocomplete="off"
              novalidate>
            <div class="form-group">
                {% render_field form.q id="q" class="form-control input-search" dir="auto" aria-label="جست‌وجو" %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-search my-3" type="submit">جست‌وجو</button>
            </div>
        </form>
    </div>
</section>
